In [1]:
import pandas as pd
import matplotlib.pyplot as plt
data= pd.read_csv(open('Bolt_data_districts.csv'),index_col=0,sep=";")
data.tail()

,Unnamed: 0.1,pickup_lat,pickup_lng,destination_lat,destination_lng,real_destination_lat,real_destination_lng,finished,created,home_address_lat,home_address_lng,work_address_lat,work_address_lng,new_id,home_district,pickup_district,destination_district,work_district
65097,65097,58.346,26.726,58.369,26.718000000000004,58.369,26.717,1,07.04.2019 07:46,58.346,26.726,NaN,NaN,8630,Ropka tÃ¶Ã¶stuse,Ropka tÃ¶Ã¶stuse,Vaksali,NaN
65098,65098,58.361,26.698,58.377,26.725,58.377,26.725,1,13.04.2019 07:02,58.361,26.698,58.377,26.73,342,Tammelinna,Tammelinna,Kesklinna,Kesklinna
65099,65099,58.378,26.726999999999997,58.375,26.761999999999997,58.375,26.761999999999997,1,15.04.2019 14:57,58.373,26.734,NaN,NaN,7713,Karlova,Kesklinna,Annelinna,NaN
65100,65100,58.377,26.763,58.408,26.744,NaN,NaN,0,18.04.2019 21:50,58.408,26.744,NaN,NaN,4810,NaN,Annelinna,NaN,NaN
65101,65101,58.357,26.725,58.377,26.721,58.377,26.721,1,30.04.2019 20:54,59.425,24.739,NaN,NaN,16544,NaN,Ropka,Kesklinna,NaN

In [2]:
data["weekday"] = pd.Categorical(pd.to_datetime(data.created).dt.weekday, ordered=True)

In [3]:
data["weekday"].cat.categories = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
data.head()

,Unnamed: 0.1,pickup_lat,pickup_lng,destination_lat,destination_lng,real_destination_lat,real_destination_lng,finished,created,home_address_lat,home_address_lng,work_address_lat,work_address_lng,new_id,home_district,pickup_district,destination_district,work_district,weekday
0,0,58.390,26.726999999999997,58.378,26.711,58.378,26.711,1,13.04.2019 21:00,59.428,24.74,NaN,NaN,0,NaN,ÃœlejÃµe,Kesklinna,NaN,Saturday
1,1,58.384,26.72,58.399,26.717,58.399,26.715999999999998,1,02.04.2019 22:05,58.399,26.717,NaN,NaN,1,Raadi-KruusamÃ¤e,Kesklinna,Raadi-KruusamÃ¤e,NaN,Monday
2,2,58.349,26.793000000000003,58.375,26.691999999999997,58.375,26.691999999999997,1,07.04.2019 05:38,58.228,26.398000000000003,58.228,26.apr,2,NaN,NaN,Veeriku,NaN,Thursday
3,3,58.382,26.729,58.374,26.758000000000003,58.374,26.758000000000003,1,22.04.2019 18:41,NaN,NaN,NaN,NaN,3,NaN,ÃœlejÃµe,Annelinna,NaN,Monday
4,4,58.384,26.756999999999998,58.378,26.685,58.378,26.685,1,30.04.2019 06:39,58.384,26.756999999999998,58.359,26.67,4,JaamamÃµisa,JaamamÃµisa,Veeriku,NaN,Tuesday

In [4]:
data["time_window"] = pd.Categorical(pd.to_datetime(data.created).dt.hour, ordered=True)
#data.head()

In [5]:
# cleaning process
data['pickup_lng']=data['pickup_lng'].astype(str)
data['destination_lng']=data['destination_lng'].astype(str)
data['home_address_lng']=data['home_address_lng'].astype(str)

df1= data[pd.to_numeric(data['pickup_lng'], errors='coerce').notnull()]
df1 = df1[pd.to_numeric(df1['destination_lng'], errors='coerce').notnull()]
df1 = df1[pd.to_numeric(df1['home_address_lng'], errors='coerce').notnull()]

df1['home_address_lng']=df1['home_address_lng'].astype(float)
df1['destination_lng']=df1['destination_lng'].astype(float)
df1['pickup_lng']=df1['pickup_lng'].astype(float)

In [6]:
# extract Monday-Thursday data
mon_thu = ["Monday", "Tuesday", "Wednesday", "Thursday"]
data_mon_thu = df1[df1.weekday.isin(mon_thu)]
#data_mon_thu["time_window"].value_counts().sort_index().plot(kind="bar")

In [7]:
# extract Friday-Saturday
fri_sat = ["Friday", "Saturday"]
data_fri_sat = df1[df1.weekday.isin(fri_sat)]
#data_fri_sat["time_window"].value_counts().sort_index().plot(kind="bar")

In [8]:
data_fri_sat.head()

,Unnamed: 0.1,pickup_lat,pickup_lng,destination_lat,destination_lng,real_destination_lat,real_destination_lng,finished,created,home_address_lat,home_address_lng,work_address_lat,work_address_lng,new_id,home_district,pickup_district,destination_district,work_district,weekday,time_window
0,0,58.390,26.727,58.378,26.711,58.378,26.711,1,13.04.2019 21:00,59.428,24.740,NaN,NaN,0,NaN,ÃœlejÃµe,Kesklinna,NaN,Saturday,21
7,7,58.382,26.722,58.374,26.716,58.375,26.718000000000004,1,19.04.2019 23:45,58.357,26.728,58.357,26.73,7,Ropka,Kesklinna,Kesklinna,Ropka,Friday,23
31,31,58.339,26.715,58.378,26.711,58.379,26.71,1,26.04.2019 20:37,58.378,26.711,NaN,NaN,31,Kesklinna,NaN,Kesklinna,NaN,Friday,20
36,36,58.383,26.746,58.351,26.718,58.351,26.718000000000004,1,27.04.2019 07:12,58.351,26.718,58.380,26.72,36,Ropka,ÃœlejÃµe,Ropka,Kesklinna,Saturday,7
42,42,58.384,26.736,58.378,26.722,58.378,26.72,1,05.04.2019 21:02,58.351,26.682,58.346,26.73,42,RÃ¤nilinna,ÃœlejÃµe,Kesklinna,Ropka tÃ¶Ã¶stuse,Saturday,21

In [9]:
# predict home
# train set
data_mon_thu_train= data_mon_thu[data_mon_thu["home_district"].notnull()]
data_fri_sat_train= data_fri_sat[data_fri_sat["home_district"].notnull()]

# further breakdown to time base
data_mon_thu_morning_train=data_mon_thu_train[(data_mon_thu_train['time_window'] >  6) & (data_mon_thu_train['time_window']  < 10)]
data_mon_thu_evening_train=data_mon_thu_train[(data_mon_thu_train['time_window'] >  17) & (data_mon_thu_train['time_window']  <22)]

data_fri_sat_morning_train=data_fri_sat_train[(data_fri_sat_train['time_window'] >  6) & (data_fri_sat_train['time_window']  < 10)]
data_fri_sat_evening_train=data_fri_sat_train[(data_fri_sat_train['time_window'] >  17) & (data_fri_sat_train['time_window']  < 22)]

#random dataset
#data_mon_thu_random1=data_mon_thu_train[(data_mon_thu_train['time_window'] >  22) & (data_mon_thu_train['time_window']  < 24)]
#data_mon_thu_random2=data_mon_thu_train[(data_mon_thu_train['time_window'] >  0) & (data_mon_thu_train['time_window']  < 6)]
#data_mon_thu_random3=data_mon_thu_train[(data_mon_thu_train['time_window'] >  10) & (data_mon_thu_train['time_window']  < 17)]
#data_mon_thu_random=pd.concat([data_mon_thu_random1,data_mon_thu_random2,data_mon_thu_random3])

In [10]:
# test set
data_mon_thu_test= data_mon_thu[data_mon_thu["home_district"].isnull()]
data_fri_sat_test= data_fri_sat[data_fri_sat["home_district"].isnull()]

# further breakdown to time base
data_mon_thu_morning_test=data_mon_thu_test[(data_mon_thu_test['time_window'] >  6) & (data_mon_thu_test['time_window']  < 10)]
data_mon_thu_evening_test=data_mon_thu_test[(data_mon_thu_test['time_window'] >  17) & (data_mon_thu_test['time_window']  <22)]

data_fri_sat_morning_test=data_fri_sat_test[(data_fri_sat_test['time_window'] >  6) & (data_fri_sat_test['time_window']  < 10)]
data_fri_sat_evenning_test=data_fri_sat_test[(data_fri_sat_test['time_window'] >  17) & (data_fri_sat_test['time_window']  < 22)]

#random dataset
#data_mon_thu_random_test1=data_mon_thu_test[(data_mon_thu_test['time_window'] >  22) & (data_mon_thu_test['time_window']  < 24)]
#data_mon_thu_randomtest2=data_mon_thu_test[(data_mon_thu_test['time_window'] >  0) & (data_mon_thu_test['time_window']  < 6)]
#data_mon_thu_randomtest3=data_mon_thu_test[(data_mon_thu_test['time_window'] >  10) & (data_mon_thu_test['time_window']  < 17)]
#data_mon_thu_random=pd.concat([data_mon_thu_random_test1,data_mon_thu_randomtest2,data_mon_thu_randomtest3])

In [11]:
#train_set
from sklearn.model_selection import train_test_split

X_data_mon_thu_morning_train = data_mon_thu_morning_train.drop(['home_district'],axis=1)
y_data_mon_thu_morning_train= data_mon_thu_morning_train['home_district']

X_data_mon_thu_evening_train = data_mon_thu_evening_train.drop(['home_district'],axis=1)
y_data_mon_thu_evening_train= data_mon_thu_evening_train['home_district']


#train and validate set

from sklearn.model_selection import train_test_split
X_train1, X_validate1, y_train1, y_validate1 = train_test_split(X_data_mon_thu_morning_train, y_data_mon_thu_morning_train, test_size = 0.10 , random_state = 1)

X_train2, X_validate2, y_train2, y_validate2= train_test_split(X_data_mon_thu_evening_train, y_data_mon_thu_evening_train, test_size = 0.10 , random_state = 1)

In [12]:
y_train1.head()

17318    Kesklinna
42056    Kesklinna
41684      Vaksali
8013      ÃœlejÃµe
58374     ÃœlejÃµe
Name: home_district, dtype: object

In [33]:
from sklearn.ensemble import RandomForestClassifier
#from sklearn.metrics import confusion_matrix
rf_model_morning = RandomForestClassifier(n_estimators=100, max_depth=60, random_state=1).fit(X_train1[['pickup_lat','pickup_lng']], y_train1)
rf_model_evening = RandomForestClassifier(n_estimators=100, max_depth=40, random_state=1).fit(X_train2[['destination_lat','destination_lng']], y_train2)

In [52]:
#validate the model
# morning

y_validate_rf_morning= rf_model_morning.predict(X_validate1[['pickup_lat','pickup_lng']]) 
y_rf_morning_df=pd.DataFrame(y_validate_rf_morning,columns=['home_district_validate']) 

y_validate1.reset_index(drop=True, inplace=True)
y_rf_morning_df.reset_index(drop=True, inplace=True)
dataframe_validate_rf_morning=pd.concat([y_validate1, y_rf_morning_df], axis=1)

In [53]:
from sklearn.metrics import accuracy_score
acc1 = accuracy_score(y_validate1, y_rf_morning_df)

In [54]:
acc1

0.5685279187817259

In [76]:
# checking steps it is correct

data_mon_thu_evening_train_copy=data_mon_thu_evening_train.copy()
data_mon_thu_evening_train_copy.dropna()

,Unnamed: 0.1,pickup_lat,pickup_lng,destination_lat,destination_lng,real_destination_lat,real_destination_lng,finished,created,home_address_lat,home_address_lng,work_address_lat,work_address_lng,new_id,home_district,pickup_district,destination_district,work_district,weekday,time_window
37,37,58.387,26.712,58.377,26.714,58.376,26.713,1,29.04.2019 20:23,58.377,26.714,58.380,26.72,37,Kesklinna,Supilinna,Kesklinna,Kesklinna,Monday,20
38,38,58.376,26.729,58.380,26.751,58.380,26.750999999999998,1,30.04.2019 18:50,58.375,26.733,58.381,26.72,38,Kesklinna,Kesklinna,Annelinna,Kesklinna,Tuesday,18
152,152,58.382,26.730,58.370,26.770,58.370,26.768,1,16.04.2019 20:57,58.370,26.770,58.372,26.78,150,Annelinna,ÃœlejÃµe,Annelinna,Annelinna,Tuesday,20
222,222,58.378,26.709,58.373,26.751,58.373,26.750999999999998,1,17.04.2019 18:37,58.378,26.709,58.373,26.75,109,Vaksali,Vaksali,Annelinna,Annelinna,Wednesday,18
277,277,58.361,26.750,58.373,26.725,58.373,26.725,1,06.04.2019 18:31,58.368,26.727,58.373,26.73,271,Karlova,Ropka tÃ¶Ã¶stuse,Kesklinna,Kesklinna,Tuesday,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64735,64735,58.374,26.707,58.401,26.718,58.401,26.719,1,23.04.2019 19:17,58.401,26.718,58.378,26.71,61,Raadi-KruusamÃ¤e,Vaksali,Raadi-KruusamÃ¤e,Kesklinna,Tuesday,19
65004,65004,58.380,26.721,58.388,26.694,58.388,26.695,1,18.04.2019 21:25,58.388,26.697,58.375,26.77,9027,TÃ¤htvere,Kesklinna,TÃ¤htvere,Annelinna,Thursday,21
65037,65037,58.378,26.723,58.346,26.773,58.346,26.773000000000003,1,24.04.2019 20:21,58.346,26.773,58.346,26.77,10535,Ihaste,Kesklinna,Ihaste,Ihaste,Wednesday,20
65050,65050,58.372,26.693,58.346,26.725,58.346,26.725,1,12.04.2019 19:17,58.346,26.727,58.371,26.69,1774,Ropka tÃ¶Ã¶stuse,Veeriku,Ropka tÃ¶Ã¶stuse,Veeriku,Wednesday,19
65084,65084,58.365,26.722,58.378,26.753,58.378,26.754,1,23.04.2019 19:50,58.363,26.728,58.382,26.72,332,Karlova,Karlova,Annelinna,Kesklinna,Tuesday,19

In [82]:
data_mon1=data_mon_thu_evening_train_copy[(data_mon_thu_evening_train_copy['destination_district'] == data_mon_thu_evening_train_copy['home_district'])] 
#data_mon_thu_evening_train.head()
#home_district	pickup_district	destination_district
data_mon_thu_evening_train_copy.head()

,Unnamed: 0.1,pickup_lat,pickup_lng,destination_lat,destination_lng,real_destination_lat,real_destination_lng,finished,created,home_address_lat,home_address_lng,work_address_lat,work_address_lng,new_id,home_district,pickup_district,destination_district,work_district,weekday,time_window
5,5,58.356,26.721,58.360,26.731,NaN,NaN,0,30.04.2019 18:34,58.354,26.716,NaN,NaN,5,Ropka,Ropka,NaN,NaN,Tuesday,18
6,6,58.400,26.731,58.374,26.708,NaN,NaN,0,30.04.2019 20:24,58.374,26.708,NaN,NaN,6,Vaksali,NaN,NaN,NaN,Tuesday,20
14,14,58.334,26.708,58.380,26.744,58.380,26.744,1,04.04.2019 21:28,58.380,26.744,NaN,NaN,14,Annelinna,NaN,Annelinna,NaN,Thursday,21
37,37,58.387,26.712,58.377,26.714,58.376,26.713,1,29.04.2019 20:23,58.377,26.714,58.380,26.72,37,Kesklinna,Supilinna,Kesklinna,Kesklinna,Monday,20
38,38,58.376,26.729,58.380,26.751,58.380,26.750999999999998,1,30.04.2019 18:50,58.375,26.733,58.381,26.72,38,Kesklinna,Kesklinna,Annelinna,Kesklinna,Tuesday,18

In [80]:
len(data_mon1)/len(data_mon_thu_evening_train_copy)

0.4097560975609756

In [69]:
len(data_mon_thu_evening_train)

2870

In [73]:
data_mon_thu_evening_train.head()

,Unnamed: 0.1,pickup_lat,pickup_lng,destination_lat,destination_lng,real_destination_lat,real_destination_lng,finished,created,home_address_lat,home_address_lng,work_address_lat,work_address_lng,new_id,home_district,pickup_district,destination_district,work_district,weekday,time_window
5,5,58.356,26.721,58.360,26.731,NaN,NaN,0,30.04.2019 18:34,58.354,26.716,NaN,NaN,5,Ropka,Ropka,NaN,NaN,Tuesday,18
6,6,58.400,26.731,58.374,26.708,NaN,NaN,0,30.04.2019 20:24,58.374,26.708,NaN,NaN,6,Vaksali,NaN,NaN,NaN,Tuesday,20
14,14,58.334,26.708,58.380,26.744,58.380,26.744,1,04.04.2019 21:28,58.380,26.744,NaN,NaN,14,Annelinna,NaN,Annelinna,NaN,Thursday,21
37,37,58.387,26.712,58.377,26.714,58.376,26.713,1,29.04.2019 20:23,58.377,26.714,58.380,26.72,37,Kesklinna,Supilinna,Kesklinna,Kesklinna,Monday,20
38,38,58.376,26.729,58.380,26.751,58.380,26.750999999999998,1,30.04.2019 18:50,58.375,26.733,58.381,26.72,38,Kesklinna,Kesklinna,Annelinna,Kesklinna,Tuesday,18